<form action="<%= users_url %>" method="post">
  <label for="Username">Username</label>
  <input type="text" id="Username" name = "user[user_name]">
  <label for="Password">Password</label>
  <input type="password" id="Password" name = "user[password]">
  <input type="submit" value="Create User">
</form>